#FondoCategoria {
  background-color: #c0bcbc5a;
}

#Logo2 {
  width: 80px;
}

#Carrito2 {
  width: 50px;
}

.container2 {
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .container2 {
    background-color: #f8f9fa;
  }
}

.Despensa2 {
  width: 80%;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgb(172, 170, 170));
}

.LogoBN2 {
  width: 40px;
}

.LetraDespensa {
  margin-top: 50px;
  font-size: 25px;

}

.LetraDespensa1 {
  margin-top: 30px;
  font-size: 35px;

}

.container6 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 15px;
}

@media (min-width: 992px) {
  .container5 {
    .custom-col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .LetraDespensa {
    font-size: 35px;
  }

  .LetraDespensa1 {
    margin-top: 30px;
    font-size: 45px;
  }

  .container6 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  #Carrito2 {
    width: 50px;
    padding-right: 10%;
  }

}

#Logo2 {
  margin-top: 10px;
}



#Logo2 {
  color: aqua;
}

img {
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.03);
}